body {
    margin: 0px;
}
.header {
    display: flex;
    flex-direction: row;
    flex-grow: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #91D56B;
    color: #F8FAED;
    width: auto;
        /* im guessing that setting the width to one is like setting it to auto which means that it will take the length of the browser (it is)*/
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;
        /*you may have to add extra padding to the right after I add margin to the links since the right side LOGO is text*/
}
a {
    margin: 20px;
    text-decoration: none;
    color: #F8FAED;
    font-weight: bold;
    font-size: 20px;
}
p {
    margin-right: 20px;
    font-weight: bold;
    font-size: 40px;
}
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDD0;
    width: auto;
    height: 600px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 400px;
    width: 800px;
    background-color: #F2F6D9;
    padding: 50px;
    border: 20px solid white;
    border-radius: 50px;
}
h1 {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
}
h2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #91D56B;
}
h3 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
input {
    height: 35px;
    width: 250px;
    align-self: center;
    border-radius: 10px;
}
button {
    height: 40px;
    Width: 80px;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
}
.info {
    background-color: #91D56B;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}
.footer {
    display: flex;
    background-color: #FFFDD0;
    width: auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.footer a {
    color: rgb(77, 72, 72);
}