.container {
    display: flex;
    flex-flow: wrap;
    background-color: grey;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 5px;
    background-color: hotpink;
    border-width: 50px;
    height: 100px;
    width: 100%;
    text-align: center;
}
/* it seems like in order to vertically align i had to turn the div into a flexbox and then align items center and justify content center, i wonder if i can do this to multiple items at once if i gave them the same class*/
.content {
    height: 390px;
    width: 100%;
    padding: 30px;
    margin: 5px;
    background-color: indianred;
    text-align: center;
}
.footer {
    height: 100px;
    width:  100%;
    padding: 30px;
    margin: 5px;
    background-color: forestgreen;
    text-align: center;
}